body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    line-height: 30px;
    color: #404040;
    background-color: #ffffff;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    line-height: 60px;
}


/*header*/

.header {
    height: 550px;
    background: url("img/wheat-back.jpg") no-repeat bottom;
    background-size: cover;
    padding-top: 60px;
}

.header-top {
    margin-bottom: 120px;
    height: 76px;
    padding: 0;
    vertical-align: middle;
}

.header-logo {
    margin: 0 56px 0 0;
    padding: 0;
    float: left;
    width: 142px;
    height: 76px;
    display: inline-block;
}

.main-nav {
    display: inline-block;
    float: right;
    width: 602px;
    padding: 0;
    height: 57px;
    margin: 0;
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav li {
    padding: 0;
    float: left;
    vertical-align: middle;
    list-style: none;
    margin-right: 55px;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    line-height: 58px;
}

.main-nav a:hover {
    color: #ffcb78;
    border-bottom: 1px solid #ffffff;
}

.main-nav a:active {
    color: rgba(255, 203, 120, 0.3);
}

.header p {
    margin: 0;
    font-size: 70px;
    line-height: 70px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}


/*новинки*/

.product-card {
    margin: 0;
    float: left;
    width: 326px;
    position: relative;
    padding: 0 36px;
    border-left: 1px solid #e5e5e5;
}

.product-card:last-child {
    border-right: 1px solid #e5e5e5;
}

.new_product h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 95px;
    margin-top: 90px;
    color: #000;
}

.product-card h3 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #000;
}

.product-card p {
    padding: 0;
    margin-bottom: 60px;
    margin-top: 3px;
}

.product-card table {
    padding: 0;
    margin: 0;
    width: 145px;
    border-collapse: collapse;
}

.product-card td {
    border: 1px solid #e5e5e5;
    border-spacing: 0px;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #000;
    line-height: 30px;
}

.product-card img {
    display: block;
    margin: 0 auto;
}

.ingridients {
    position: absolute;
    top: 73px;
    right: 20px;
    width: 150px;
}

.ingridients p {
    margin-top: 10px;
}

.ingridients-items {
    font-size: 14px;
    line-height: 24px;
    color: #404040;
}

.btn {
    display: inline-block;
    border: 1px solid #834700;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #834700;
    margin-bottom: 110px;
}

.to_buy {
    color: #fff;
    background-color: #834700;
    margin-right: 20px;
}

.to_buy:hover {
    background-color: #6a3900;
}

.to_buy:active{
    color: rgba(255,255,255, 0.3);
}

.product-card span {
    color: #000;
    font-weight: bold;
}


/*about us*/

.about_us {
    background-color: #ffcb78;
}

.wide_container {
    width: 1015px;
    margin: 0 auto;
}

.about_us ul {
    padding: 80px 0 90px 0;
}

.about_us li {
    display: block;
    float: left;
    list-style: none;
    width: 215px;
    text-align: left;
    margin-right: 185px;
}

.about_us li:last-child {
    float: right;
    margin-right: 0;
}

.about_us li:first-child::before {
    content: url("img/icon-brew.png");
}

.about_us li::before {
    content: url("img/icon-matreshka.png");
}

.about_us li:last-child::before {
    content: url("img/icon-thumbsup.png");
}

.about_us li h2 {
    padding: 20px 0 0 0;
    margin: 0;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}


/*history*/

.history h2 {
    margin-top: 80px;
    margin-bottom: 60px;
}

.history dt span {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    margin-bottom: 20px;
}

.history dt i {
    float: right;
    color: #000;
}

.history dt a {
    color: #834700;
}

.history dd img {
    float: right;
    padding-top: 10px;
}

.history dd p {
    margin: 0;
    margin-left: -40px;
    float: left;
    display: block;
    width: 487px;
    margin-bottom: 60px;
}

.history dd:last-child p {
    margin-bottom: 0;
}


/*media_about_us*/

.media_about_us {
    background-color: #ede5d8;
    padding-top: 80px;
    padding-bottom: 90px;
}

.media_about_us h2 {
    margin-bottom: 75px;
}

.media_about_us blockquote {
    margin: 0;
    padding: 0;
    display: block;
}

.media_about_us blockquote p {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    position: relative;
    width: 690px;
}

.media_about_us blockquote p::before {
    content: url("img/quotes.png");
    position: absolute;
    left: -105px;
    top: 5px;
}

.media_about_us blockquote cite {
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    font-style: normal;
    line-height: 50px;
}

.media_about_us blockquote a {
    float: left;
    color: #d7d0c4;
    border: 2px solid #a5a097;
    display: inline-block;
    padding: 8px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.media_about_us blockquote a:hover {
    background-color: #a5a097;
    color: #fff;
}

.media_about_us blockquote a:active {
    background-color: #8f8a81;
    color: rgba(255, 255, 255, 0.3);
    border: 2px solid #8f8a81;
}


/*assortment*/

.assortment {
    padding-top: 90px;
}

.assortment h2 {
    margin-bottom: 75px;
}

.assortment table {
    width: 800px;
    border-collapse: collapse;
    text-transform: uppercase;
}

.assortment table th {
    font-size: 11px;
    color: #999999;
    font-weight: normal;
    text-align: left;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 30px;
}

.assortment table td {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
    border-spacing: 0px;
    line-height: 16px;
    vertical-align: middle;
    height: 64px;
}

.assortment .product_name {
    color: #000;
    font-weight: bold;
    width: 400px;
}

.assortment td sup {
    padding: 7px 5px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    font-size: 8px;
    line-height: 0;
    margin-left: 20px;
}

.assortment table td:last-child,
.assortment table th:last-child {
    text-align: right;
}


/*order*/

.order {
    background-color: #ffcb78;
    padding-top: 80px
}

.order h2 {
    margin-bottom: 75px;
}

.order p {
    width: 660px;
    margin-bottom: 70px;
}

form {

    width: 630px;
}

.order input {
    height: 50px;
    background-color: #e5b66c;
    border: none;
    margin-bottom: 20px;
    margin-top:10px;
}

.order label {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;


}

#name {
    width: 100%;
}

.phone,
.extra_phone,
#phone,
#extra_phone {
    width: 290px;
}

.phone {
    float: left;
}

.extra_phone {
    float: right;
}

#email {
    width: 100%;
}
#volume{
    height: 50px;
    background-color: #e5b66c;
    border: none;
    margin-bottom: 20px;
    margin-top:10px;
}

#message {
    width: 100%;
    height: 120px;
    background-color: #e5b66c;
    border: none;
    padding: 0;
    margin-bottom: 25px;
    resize: none;
    overflow: auto;
}
/*.checkbox{
    display: flex;
    align-items: center;
}
input[type=checkbox]{

}*/
.checkbox {
     display: flex;
    align-items: baseline;
    position:relative;
    padding-left:25px;
}
.checkbox input[type=checkbox] {
    display:none;
}
.checkbox label:after {
    content:'';
    display:block;
    height:20px;
    width:20px;
    outline:1px solid #834700;
    position:absolute;
    top:5px;
    left:0;
}
.checkbox input[type=checkbox]:checked + label:after {
    outline:1px solid #834700;
    border:2px solid #ffcb78;
;
    width:15px;
    height:15px;
    background-color:#834700;
}
input[type=submit] {
    background-color: #834700;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 15px;
}
 /*footer*/


.footer{
    margin: 0 auto;
    background-color:#000;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

}
.footer-top{

}
.footer-top img{
    float: left;
    margin-left: 38px;

}
.footer-top ul{
    margin-right: 105px;
    margin-top: 8px;

}

.social a{
    display:block;
    float: left;
    width: 70px;
    height:67px;
    background-color: rgb(27, 27, 27);
    border: 1px solid #322d24;
    line-height: 70px;


    font-size:0;


    background: url("img/fb-icon.svg") no-repeat center;

}


.footer-bottom{
    margin: 0 auto;
    margin-top: 47px;
color: #989898;
    font-size: 14px;



}
.social{
    float: left;
background-color: rgba(27, 27, 27, 0.9);
}

.social a:first-child{
    background: url("img/insta-icon.svg") no-repeat center;
}

.social a:last-child{
    background: url("img/vk-icon.svg") no-repeat center;
}
.footer-bottom p
{
    float: left;
    display: inline-block;
    width: 200px;
    margin-left: 95px;
}

.copyright{
    float: right;
    width: 300px;
    display: flex;
    margin-right: 10px;


}

.copyright a,
.copyright b{
    text-decoration: none;
    color: #989898;
    display: block;
    padding-top: 25px;
    margin-right: 0;


}
.copyright img{
    border: 1px solid #322d24;
    padding: 17px 20px;
    margin-right: 30px;
    background-color: rgba(27, 27, 27, 0.9);
}
